.image-png{
	width: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.image-png2{
	width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.header-container{
	text-align: center;
}